[buildout]
index = https://pypi.python.org/simple
extends = versions.cfg
newest = false
parts = test
develop = .
extensions = mr.developer
auto-checkout =
    openprocurement.api
    openprocurement.auctions.core
    openprocurement.auctions.flash
    openprocurement.schemas.dgf
    schematics-flexible

find-links = http://op:x9W3jZ@dist.quintagroup.com/op/

[test]
recipe = zc.recipe.egg:scripts
dependent-scripts = true
eggs =
    openprocurement.auctions.lease
    openprocurement.api [test]
    nose


[remotes]
gh=https://github.com/
gh_push=git@github.com:

[sources]
openprocurement.api = git ${remotes:gh}openprocurement/openprocurement.api.git pushurl=${remotes:gh_push}openprocurement/openprocurement.api.git rev=0ee6b77b6a880a842601062ca5cfdd99f0fbc537
openprocurement.auctions.core = git ${remotes:gh}openprocurement/openprocurement.auctions.core.git pushurl=${remotes:gh_push}openprocurement/openprocurement.auctions.core.git  rev=0e75a6051e9a323895c86c525726233ba2365219
openprocurement.auctions.flash = git ${remotes:gh}openprocurement/openprocurement.auctions.flash.git pushurl=${remotes:gh_push}openprocurement/openprocurement.auctions.flash.git  rev=4f8a40dda1f9c4c0da6c9a7887b771fc4c92c3eb
schematics-flexible = git https://github.com/openprocurement/schematics-flexible.git rev=ac5a680659f9990607a34660d04c8db8df927f3e
openprocurement.schemas.dgf = git https://github.com/openprocurement/openprocurement.schemas.dgf.git rev=eb10b00f1ed13e13ca82dbc4d1769db4736f7a74
