[buildout]
index = https://pypi.python.org/simple
extends = versions.cfg
newest = false
parts = test
develop = .
extensions = mr.developer
auto-checkout =
    openprocurement.api
    openprocurement.auctions.core
    openprocurement.auctions.flash
    openprocurement.schemas.dgf
    schematics-flexible

find-links = http://op:x9W3jZ@dist.quintagroup.com/op/

[test]
recipe = zc.recipe.egg:scripts
dependent-scripts = true
eggs =
    openprocurement.auctions.lease
    openprocurement.api [test]
    nose


[remotes]
gh=https://github.com/
gh_push=git@github.com:

[sources]
openprocurement.api = git ${remotes:gh}openprocurement/openprocurement.api.git pushurl=${remotes:gh_push}openprocurement/openprocurement.api.git rev=099d8dc3ca2e70f900cd06b8647d3ab412241006
openprocurement.auctions.core = git ${remotes:gh}openprocurement/openprocurement.auctions.core.git pushurl=${remotes:gh_push}openprocurement/openprocurement.auctions.core.git  rev=4323cdf1d3597620a71a059660446e477fc9fe37
openprocurement.auctions.flash = git ${remotes:gh}openprocurement/openprocurement.auctions.flash.git pushurl=${remotes:gh_push}openprocurement/openprocurement.auctions.flash.git  rev=663a61e8e55a1ee7fcae37e1ae401d4a87e9dcf2
schematics-flexible = git https://github.com/openprocurement/schematics-flexible.git rev=8b363061d913d2407434968ea1033cc799e05519
openprocurement.schemas.dgf = git https://github.com/openprocurement/openprocurement.schemas.dgf.git rev=6fe593893b3e84e8f185f55dfb80c8f5af9ac1f3
