[buildout]
index = https://pypi.python.org/simple
extends = versions.cfg
newest = false
parts = test
develop = .
extensions = mr.developer
auto-checkout =
    openprocurement.api
    openprocurement.auctions.core
    openprocurement.auctions.flash
    openprocurement.schemas.dgf
    schematics-flexible

find-links = http://op:x9W3jZ@dist.quintagroup.com/op/

[test]
recipe = zc.recipe.egg:scripts
dependent-scripts = true
eggs =
    openprocurement.auctions.lease
    openprocurement.api [test]
    nose


[remotes]
gh=https://github.com/
gh_push=git@github.com:

[sources]
openprocurement.api = git ${remotes:gh}openprocurement/openprocurement.api.git pushurl=${remotes:gh_push}openprocurement/openprocurement.api.git rev=a8f8af0a2d3bdcf968795f9f0337e29fe2d3327b
openprocurement.auctions.core = git ${remotes:gh}openprocurement/openprocurement.auctions.core.git pushurl=${remotes:gh_push}openprocurement/openprocurement.auctions.core.git  rev=6cfdacf8cbcb7ad0763708a3c4e576fecca7a1a5
openprocurement.auctions.flash = git ${remotes:gh}openprocurement/openprocurement.auctions.flash.git pushurl=${remotes:gh_push}openprocurement/openprocurement.auctions.flash.git  rev=21a3817acb5e28f4c44c8cfe44ab3adbdf812dbf
schematics-flexible = git https://github.com/openprocurement/schematics-flexible.git rev=e8cdb9add54748f1dd4e118001d554c055723454
openprocurement.schemas.dgf = git https://github.com/openprocurement/openprocurement.schemas.dgf.git rev=6fe593893b3e84e8f185f55dfb80c8f5af9ac1f3
